body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/007/169/521/small/asanoha-japanese-traditional-style-abstract-geometric-shape-seamless-pattern-with-subtle-blue-color-background-vector.jpg");
    color:black;/* This is for font color*/
}
img{
    display: block;
    /*content*/
    padding: 5px;
    border: 2px solid black;
    margin: auto;
}
a{
    color: black;
}
a:visited{
    color: purple;
}
li{
    font-style: italic;
    font-size: x-large;
}
li:hover{
    font-size: 155%;
    text-decoration: underline;
    background-color: coral;
}
.gangnam{
    font-family: chiller;
    font-style: italic;
    font-weight: bolder;
    color: brown;
    background-color: beige;
}
.gangnam:hover{
    text-align:center
}
.common{
    border: 2px solid white;
    position: absolute;
}
.nav{
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
.footer{
    position: fixed;
    background-color: white;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    text-align: center;
}
.content{
    left: 0;
    right: 0;
    text-align: center;
}
.gallery img{
    display: inline;
    width: 19%;
}

.smallfont{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
    text-align: center;
}

.navfont{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
}

.header{
    font-size: xx-large;
    text-decoration: underline;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.bottom{
    position: absolute;
    top: 1000px;
}